<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"  version="3.0">									  					  
	<display-name>SDWebApplication</display-name>
	
	<!-- Load welcome file -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Configure Spring dispatcher servlet -->
	<servlet>
    	<servlet-name>spring</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>
			    /WEB-INF/config/dispatcher-servlet.xml
		  </param-value>
	    </init-param>
	    
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	
  	 <!-- Mapping different url patterns for dispatcher servlet  -->
  	<servlet-mapping>
	    <servlet-name>spring</servlet-name>
	    <url-pattern>*.htm</url-pattern>
	    <url-pattern>/rest/*</url-pattern>
	    <url-pattern>*.json</url-pattern>
  		<url-pattern>*.xml</url-pattern>
	</servlet-mapping>
	
  	<!-- Configure Spring Security -->
	<filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
   
	<!-- Load context loader listener -->
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Loads Spring Security config and Application context file -->  
	<context-param>
	   	<param-name>contextConfigLocation</param-name>
	   	<param-value>
	   		/WEB-INF/config/applicationContext.xml,
	   		/WEB-INF/config/spring-security.xml
	    </param-value>
	</context-param>
	
	<!--
      - Publishes events for session creation and destruction through the application context. 
      - Optional unless concurrent session control is being used.
      -->
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    
	<!-- Configure application session timeout -->  
	<session-config>
	   	<session-timeout>30</session-timeout>
	</session-config>
  
</web-app>